<div class="homeContainer">
    <h1>PRODUCTS</h1>
    <h2>Lista de Productos:</h2>
    {{#if error}}
        <p>{{ error }}</p>
    {{else}}
        <table>
            <tr>
              <th>ID</th>
              <th>Titulo</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoría</th>
            </tr>
            {{#each products.docs}}
                <tr>
                  <td>{{this._id}}</td>
                  <td>{{this.title}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.stock}}</td>
                  <td>{{this.category}}</td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>

<div class="paginateContainer">
  <h4>Pagina: {{products.page}} de {{products.totalPages}}</h4>
  <div class="prevNextPageContainer">
    {{#if products.hasPrevPage }}
      <a href="/products?page={{products.prevPage}}">Página previa</a>
    {{/if}}
    {{#if products.hasNextPage }}
      <a href="/products?page={{products.nextPage}}">Página siguiente</a>
    {{/if}}
  </div>
</div>