<div class="homeContainer">
    <h1>PRODUCTS</h1>
    <h2>Lista de Productos:</h2>
    {{#if error}}
        <p>{{ error }}</p>
    {{else}}
        <table>
            <tr>
              <th>Titulo</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Categoría</th>
              <th></th>
            </tr>
            {{#each products.docs}}
                <tr>
                  <td>{{this.title}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.stock}}</td>
                  <td>{{this.category}}</td>
                  <td>
                      <button onclick="addToCart('{{this._id}}')">Add To Cart</button>
                  </td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
</div>

<div class="paginateContainer">
  <h4>Pagina: {{products.page}} de {{products.totalPages}}</h4>
  <div class="prevNextPageContainer">
    {{#if products.hasPrevPage }}
      <a href="/products?page={{products.prevPage}}">Página previa</a>
    {{/if}}
    {{#if products.hasNextPage }}
      <a href="/products?page={{products.nextPage}}">Página siguiente</a>
    {{/if}}
  </div>
</div>

<a href="/cart/64ea4f4893207f61409583a8">Ir al CART</a>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
const addToCart = async (productId) => {
  console.log(productId)
  const cartId = '64ea4f4893207f61409583a8'
  try {
    await axios.post(`http://localhost:8080/api/carts/${cartId}/product/${productId}`);
  } catch (error) {
    console.error(error);
  }
}
</script>