<h1>Real Time Products</h1>
<table id="productos">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Categoría</th>
  </tr>
  {{#each products}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.title}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.category}}</td>
    </tr>
  {{/each}}
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>